@import url(variables.css);
@import url(reset.css);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.head-container {
  background: var(--head-img) url(icons/main-photo.png) right top no-repeat;
  display: flex;
  flex-direction: column;
  background-size: contain;
  height: 100vh;
}

.main_block {
  margin-bottom: 164px;
  max-width: 48%;
}

.title_wrapper {
  padding: 61px 0 0 0px;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.center {
  max-width: 1440px;
  margin: 0 auto;
}

.logo-wrapper {
  height: 165px;
}

.h1_head {
  font-size: 36px;
  font-family: var(--font_lato);
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0.03em;
  color: var(--color_for_h);
  margin-bottom: 31px;
}

.p_head {
  font-family: var(--font_lato);
  font-size: 18px;
  line-height: 26px;
  display: inline-block;
  width: 453px;
  color: var(--color_for_p);
  margin: 0px 0 50px;
  font-weight: normal;
}

.app_links__first_link {
  margin-right: 35px;
}

.app_links {
  display: flex;
}

.second-container {
  height: 592px;
  background: url("icons/christiano_fon.jpg") no-repeat left;
}

.second_container_wrapper {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
}

.second_left,
.second_right {
  width: 50%;
}

.second_left {
  margin-right: 125px;
  margin-left: 160px;
}

.match_area {
  max-width: 360px;
  height: 218px;
  background: white;
  margin: 109px 0 0 0px;
  border-radius: 7px;
  position: relative;
  padding: 27px 0 0 15px;
  box-sizing: border-box;
  z-index: 2;
}

.img_opposite {
  top: 50px;
  position: absolute;
  right: 15px;
}

.img_command {
  position: absolute;
  top: 50px;
  right: 90px;
}

.time {
  font-weight: bold;
  line-height: 22px;
  font-size: 17px;
  color: var(--grey3);
}

.p_match,
.time,
.h3_time {
  font-family: var(--font_lato);
}

.p_match {
  font-weight: bold;
}

.p_match .form_match {
  font-weight: bold;
  font-size: 17px;
}

.form_match {
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--grey-standard);
  width: 100%;
  align-items: center;
  height: 45px;
  padding: 13px 18px;
}

.icon:before {
  content: '';
  width: 28px;
  height: 12px;
  background-color: var(--grey2);
  right: 18px;
  position: absolute;
  border-radius: 6px;
  top: 17px;
}

.icon:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  right: 33px;
  border-radius: 50%;
}

.label {
  cursor: pointer;
}

.input_none:checked ~ .icon:before {
  background-color: var(--ocean);
  transition: 0.5s;
}

.input_none:checked ~ .icon:after {
  right: 7px;
  transition: 0.4s;
}

.input_none {
  display: none;
}

.title_check {
  font-weight: bold;
  font-family: var(--font_lato);
  font-size: 19px;
  color: var(--grey3)
}

.under_img {
  position: relative;
  right: -297px;
}

.video {
  width: 360px;
  margin-top: -50px;
  margin-left: 150px;
}

.h5 {
  font-family: var(--font_lato);
  font-size: 16px;
  color: var(--ocean);
  margin-bottom: 65px;
}

.h3_second_container {
  font-family: var(--font_lato);
  font-size: 28px;
  margin-bottom: 40px;
}

.p_second_container {
  font-family: var(--font_lato);
  color: var(--grey3);
  width: 407px;
  font-size: 16px;
  line-height: 23px;
}

.second_right {
  margin-top: 115px;
}

.second_circle {
  position: absolute;
  width: 600px;
  height: 600px;
  z-index: -1;
  border-radius: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.a_learn_more {
  font-family: var(--font_lato);
  font-size: 16px;
  color: var(--ocean);
  margin-bottom: 65px;
  text-decoration: none;
  font-weight: bold;
}

.a_learn_more:hover {
  text-decoration: underline;
}

.third_container {
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
}

.third_container_wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

.third_container_left,
.third_container_right {
  width: 50%;
}

.third_container_left {
  padding: 102px 21px 12px 0px;
  margin-left: 160px;
}

.third_container_right {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
  position: relative;
  box-sizing: content-box;
}

.bell_img {
  position: absolute;
  left: 0;
  top: 54px;
}

.phone_img {
  position: absolute;
  bottom: 102px;
  right: 50px;
}

.circle {
  position: absolute;
  border: 1px dashed var(--ocean);
  margin: auto;
  z-index: -1;
  border-radius: 50%;
}

.circle1 {
  top: 0;
  bottom: 0;
  width: 400px;
  height: 400px;
}

.circle2 {
  top: 0;
  bottom: 0;
  width: 600px;
  height: 600px;
}

.circle3 {
  top: 0;
  bottom: 0;
  width: 800px;
  height: 800px;
  opacity: 0.4;
}

.circle4 {
  top: 0;
  bottom: 0;
  width: 1000px;
  height: 1000px;
  opacity: 0.3;
}

.circle5 {
  top: 0;
  bottom: 0;
  width: 1200px;
  height: 1200px;
  opacity: 0.2;
}

.circle6 {
  top: 0;
  bottom: 0;
  width: 1400px;
  height: 1400px;
  opacity: 0.1;
}

.circle7 {
  top: 0;
  bottom: 0;
  width: 1600px;
  height: 1600px;
  opacity: 0.1;
}

.circle8 {
  top: 0;
  bottom: 0;
  width: 1800px;
  height: 1800px;
  opacity: 0.1;
}

.fourth_container {
  background: url(icons/blue-fon.jpg) no-repeat;
  background-size: cover;
}

.fourth_container__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: auto;
  justify-content: center;
  margin-top: 58px;
}

.fourth_container_h3 {
  text-align: center;
  color: var(--white);
  font-family: var(--font_lato);
  padding-top: 76px;
  font-size: 28px;
}

.fourth_container_p {
  color: var(--white);
  font-family: var(--font_lato);
  font-size: 16px;
  line-height: 23px;
}

.fourth_container_p:before {
  content: "• ";
  color: var(--white);
}

.fourth_container_element {
  flex-basis: 311px;
  margin-right: 90px;
  margin-bottom: 50px;
}

.fourth_container_wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding-bottom: 66px;
}

.user_face {
  display: flex;
}

.user_photo {
  width: 30px;
  height: 30px;
}

.users_list {
  list-style: none;
}

.tns-inner .users_list .user_profile {
  border: 1px solid var(--grey4);
  margin-right: 20px;
  border-radius: 6px;
  padding: 15px;
  width: 310px;
}

.user_profile_h3 {
  padding-top: 4px;
  padding-left: 10px;
  font-family: var(--font_lato);
  font-size: 16px;
}

.user_profile_wrapper {
  display: flex;
}

.icon_twitter {
  width: 15px;
  height: 12px;
  margin-top: 10px;
  margin-left: auto;
}

.users_list {
  display: flex;
}

.fifth_container {
  overflow: hidden;
  min-height: 390px;
}

/*.fifth_container_wrapper {*/
  /*width: 90%;*/
/*}*/

.tns-nav-active {
  background: var(--grey4);
}

#tns1 .tns-slider > .tns-item {
  width: 300px;
}

.user_profile p {
  max-width: 310px;
}

.tns-controls button {
  background: white;
  border-radius: 50%;
  width: 47px;
  height: 47px;
  border: 1px solid var(--ocean);
  position: absolute;
  top: 70px;
  cursor: pointer;
  display: block;
  z-index: 4;
}

.tns-controls button:before {
  width: 47px;
  height: 47px;
  border-radius: 50%;

  z-index: 10;
}

.tns-nav {
  margin-top: 10px;
}

.tns-nav button {
  width: 11px;
  height: 11px;
  border: none;
  border-radius: 50%;
  margin-right: 12px;
}

.tns-controls button:first-child {
  left: 50px;
  cursor: pointer;
  width: 47px;
  height: 47px;
  border-right: 1px solid var(--ocean);
  border-top: 1px solid var(--ocean);
  background: url(icons/arrow_left.svg) 50% 50% no-repeat;
}

.tns-controls button:nth-child(2) {
  right: 50px;
  cursor: pointer;
  width: 47px;
  height: 47px;
  border-right: 1px solid var(--ocean);
  border-top: 1px solid var(--ocean);
  background: url(icons/arrow_right.svg) 50% 50% no-repeat;

}

.tns-controls button::before {
  /*position: relative;*/
  /*content: "";*/
  /*display: inline-block;*/
  /*width: 12px;*/
  /*height: 12px;*/
  /*border-right: 2px solid var(--ocean);*/
  /*border-top: 2px solid var(--ocean);*/
  /*transform: rotate(45deg);*/
  /*margin-right: 0.5em;*/
  /*margin-top: 10px;*/

}

.tns-controls #text {
  display: none;
}

.tns-outer {
  position: relative;
}

.tns-nav {
  position: absolute;
  bottom: -60px;
  left: 50%;
}

.fifth_container_h3 {
  text-align: center;
  font-family: var(--font_lato);
  font-size: 28px;
  margin-bottom: 65px;
}

.commentaries {
  font-family: var(--font_lato);
  font-size: 14px;
}

.sixth_container_h4 {
  font-family: var(--font_lato);
  font-size: 28px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 75px;
}

.sixth_container_list {
  display: flex;
  list-style: none;
  margin: 0 auto;
  width: 1140px;
}

.download_section {
  background: url("icons/mobile_footer.png") no-repeat left;
  height: 485px;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
}



.download_section_description {
  max-width: 585px;
  padding-top: 105px;
  padding-right: 143px;
  font-family: var(--font_lato);

}

.download_section_text {
  font-family: var(--font_lato);
  color: var(--color_for_p);
  line-height: 25px;
  margin-bottom: 40px;
}

.footer {
  display: flex;
  background: var(--ocean);
  padding: 50px 80px;
  justify-content: space-between;
}

.footer_nav, .footer_social {
  display: flex;
  list-style: none;

}

.nav_link {
  text-decoration: none;
  color: var(--white);
  padding-right: 20px;
  font-family: var(--font_lato);
  font-size: 16px;
  font-size: 16px;
  line-height: 21px;
}

.footer_icon {
  padding-right: 15px;
}

.list_elements {
  margin-right: 80px;
}

.small_circle {
  width: 35px;
  height: 35px;
  margin-top: 458px;
  margin-left: 40px;
}

.mobile_phone_wrapper::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: url(icons/bell.svg) 50% 50%;
  background-size: contain;
  top: 49px;
  left: 22px;
}

.mobile_phone_wrapper::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: url(icons/phone.svg) 50% 50%;
  background-size: contain;
  bottom: 93px;
  right: -5px;
}

.mobile_phone_wrapper {
  position: relative;
}




