@import url(variables.css);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.head-container {
  background: var(--head-img) url(icons/main-photo.png) right no-repeat;
  height: 665px;
  display: flex;
  flex-direction: column;
  background-size: contain;
}

.title_wrapper {
  padding: 61px 0 0 150px;
  max-width: 42%;
  display: flex;
  flex-direction: column;
}

.logo-wrapper {
  height: 165px;
}

.h1_head {
  font-size: 36px;
  font-family: var(--font_lato);
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0.03em;
  color: var(--color_for_h);
  margin-bottom: 31px;
}

.p_head {
  font-family: var(--font_lato);
  font-size: 18px;
  line-height: 26px;
  display: inline-block;
  width: 453px;
  color: var(--color_for_p);
  margin: 0px 0 50px;
}

.app_links__first_link {
  margin-right: 35px;
}

.app_links {
  display: flex;
}

.second-container {
  height: 592px;
  background: url("icons/christiano_fon.jpg") no-repeat left;
}

.second_container_wrapper {
  margin: 0 auto;
  width: 1366px;
  display: flex;
}

.second_left,
.second_right {
  width: 50%;
}

.second_left {
  margin-right: 125px;
}

.match_area {
  max-width: 360px;
  height: 218px;
  background: white;
  margin: 109px 0 0 0px;
  border-radius: 7px;
  position: relative;
  padding: 27px 0 0 15px;
  box-sizing: border-box;
  z-index: 2;
}

.img_opposite {
  top: 50px;
  position: absolute;
  right: 15px;
}

.img_command {
  position: absolute;
  top: 50px;
  right: 90px;
}

.time {
  font-weight: bold;
  line-height: 22px;
  font-size: 17px;
  color: var(--grey3);
}

.p_match,
.time,
.h3_time {
  font-family: var(--font_lato);
}

.p_match {
  font-weight: bold;
}

.p_match .form_match {
  font-weight: bold;
  font-size: 17px;
}

.form_match {
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--grey-standard);
  width: 100%;
  align-items: center;
  height: 45px;
  padding: 13px 18px;
}

.icon:before {
  content: '';
  width: 28px;
  height: 12px;
  background-color: var(--grey2);
  right: 18px;
  position: absolute;
  border-radius: 6px;
  top: 17px;
}

.icon:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  right: 33px;
  border-radius: 50%;
}

.label {
  cursor: pointer;
}

.input_none:checked ~ .icon:before {
  background-color: var(--ocean);
  transition: 0.5s;
}

.input_none:checked ~ .icon:after {
  right: 7px;
  transition: 0.4s;
}

.input_none {
  display: none;
}

.title_check {
  font-weight: bold;
  font-family: var(--font_lato);
  font-size: 19px;
  color: var(--grey3)
}

.under_img {
  position: relative;
  right: -297px;
}

.video {
  width: 360px;
  margin-top: -50px;
  margin-left: 150px;
}

.h5 {
  font-family: var(--font_lato);
  font-size: 16px;
  color: var(--ocean);
  margin-bottom: 65px;
}

.h3_second_container {
  font-family: var(--font_lato);
  font-size: 28px;
  margin-bottom: 40px;
}

.p_second_container {
  font-family: var(--font_lato);
  color: var(--grey3);
  width: 407px;
  font-size: 16px;
  line-height: 23px;
}

.second_right {
  margin-top: 115px;
}

.a_learn_more {
  font-family: var(--font_lato);
  font-size: 16px;
  color: var(--ocean);
  margin-bottom: 65px;
  text-decoration: none;
  font-weight: bold;
}

.a_learn_more:hover {
  text-decoration: underline;
}

.third_container {
  display: flex;
  margin: 0 auto;
  width: 1360px;
  overflow: hidden;
}

.third_container_left,
.third_container_right {
  width: 50%;
}

.third_container_left {
  padding: 102px 21px 12px 110px;
}

.third_container_right {
  position: relative;
}

.bell_img {
  position: absolute;
  left: 0;
  top: 54px;
}

.phone_img {
  position: absolute;
  bottom: 102px;
  left: 275px;
}

.circle {
  position: absolute;
  border: 1px dashed var(--ocean);

  z-index: -1;
  border-radius: 50%;
}

.circle1 {
  top: 90px;
  width: 400px;
  height: 400px;
}

.circle2 {
  top: -16px;
  right: 178px;
  width: 600px;
  height: 600px;
}

.circle3 {
  top: -110px;
  right: 74px;
  width: 800px;
  height: 800px;
  opacity: 0.4;
}

.circle4 {
  top: -213px;
  right: -27px;
  width: 1000px;
  height: 1000px;
  opacity: 0.3;
}

.circle5 {
  top: -298px;
  right: -123px;
  width: 1200px;
  height: 1200px;
  opacity: 0.2;
}

.circle6 {
  top: -378px;
  right: -216px;
  width: 1400px;
  height: 1400px;
  opacity: 0.1;
}

.circle7 {
  top: -462px;
  right: -296px;
  width: 1600px;
  height: 1600px;
  opacity: 0.1;
}

.circle8 {
  top: -546px;
  right: -414px;
  width: 1800px;
  height: 1800px;
  opacity: 0.1;
}

.dot {
  background-color: var(--ocean);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 8px solid var(--white);
  position: absolute;
  top: 453px;
  left: -49px;
  box-sizing: content-box;
}

.fourth_container {
  background-image: url(icons/blue-fon.jpg);
  background-size: contain;
}

.fourth_container__list {
  list-style: none;
}


