@font-face {
  font-family: "Futura";
  src: url("./fonts/FuturaBookC.woff");
  src: local("Futura Book Cyrillic"),
  local("FuturaBookC"),
  url("./fonts/FuturaBookC.woff") format("woff");
}

:root {
  --font_futura: futura, sans-serif;
  --font_lato: lato, sans-serif;

  --head-img: #f4f6f9;
  --grey-standard: #eee;
  --grey2: #979797;
  --grey3: #4f4f4f;
  --grey4: #828282;
  --white: white;
  --ocean: #00adee;
  --color_for_h: #333;
  --color_for_p: #4f4f4f;
}
